<div class="card">
	<div class="card__title">
		<img src="img/abigle_poster_big.jpg" alt="">
		<div class="card__title-text">
			<h2>Курица с помидорами и сыром в лаваше</h2>
			<div class="card__title-descr">
				<span class="card__title-level">простой</span>
				<span class="card__title-timing">2-2,5 часа</span>
			</div>
		</div>
	</div>
	<div class="card__descr">
		<div class="card__descr-text">
			<h3>Описание</h3>
			<p>
				Овес – просто кладезь витаминов и полезных для организма микроэлементов. А главное его достоинство для диабетиков в том, что он помогает регулировать уровень сахара в крови.
			</p>
			<span>Читать полностью</span>
		</div>
		<div class="card__descr-list">
			<h3>Ингредиенты</h3>
			<div class="card__descr-item">
				<span>Курица</span>
				<div class="card__descr-line"></div>
				<span>1 кг</span>
			</div>
			<div class="card__descr-item">
				<span>Помидоры</span>
				<span class="card__descr-line"></span>
				<span>1 кг</span>
			</div>
			<div class="card__descr-item">
				<span>Сыр полутвердый</span>
				<span class="card__descr-line"></span>
				<span>1 кг</span>
			</div>
			<div class="card__descr-item">
				<span>Курица</span>
				<span class="card__descr-line"></span>
				<span>1 кг</span>
			</div>
			<div class="card__descr-item">
				<span>Помидоры</span>
				<span class="card__descr-line"></span>
				<span>1 кг</span>
			</div>
			<div class="card__descr-item">
				<span>Сыр полутвердый</span>
				<span class="card__descr-line"></span>
				<span>1 кг</span>
			</div>
		</div>
	</div>
	<div class="card__map">
		<div class="card__map-step">
			<div class="card__map-descr">
				<h3>Шаг 1 из 4</h3>
				<p>Духовку разогреваем до 180ºС. Используем любую филейную часть курицы: бедро, голень, грудку. Подготовленные кусочки курицы посыпать солью, перцем или любыми приправами на свой вкус. Перемешать и дать постоять 5 минут. Помидоры нарезать кружочками, сыр — тонкими кусочками или натереть на крупной терке.</p>
			</div>
			<div class="card__map-img">
				<img src="img/abigle_poster_small.jpg" alt="">
			</div>
		</div>
		<div class="card__map-step">
			<div class="card__map-descr">
				<h3>Шаг 2 из 4</h3>
				<p>Духовку разогреваем до 180ºС. Используем любую филейную часть курицы: бедро, голень, грудку. Подготовленные кусочки курицы посыпать солью, перцем или любыми приправами на свой вкус. Перемешать и дать постоять 5 минут. Помидоры нарезать кружочками, сыр — тонкими кусочками или натереть на крупной терке.</p>
			</div>
			<div class="card__map-img">
				<img src="img/abigle_poster_small.jpg" alt="">
			</div>
		</div>
		<div class="card__map-step">
			<div class="card__map-descr">
				<h3>Шаг 3 из 4</h3>
				<p>Духовку разогреваем до 180ºС. Используем любую филейную часть курицы: бедро, голень, грудку. Подготовленные кусочки курицы посыпать солью, перцем или любыми приправами на свой вкус. Перемешать и дать постоять 5 минут. Помидоры нарезать кружочками, сыр — тонкими кусочками или натереть на крупной терке.</p>
			</div>
			<div class="card__map-img">
				<img src="img/abigle_poster_small.jpg" alt="">
			</div>
		</div>
	</div>
</div>

