{% extends '../assets/layout/base.twig' %}

{% block body %}


	{# {% set title = 'Главная - home' %}
	{% set meta_d = 'Описание' %}
	{% set theme_color = '#FFFFFF' %} #}

	{% include '../components/header/header.twig' %}

	
	<main class="container">
		{% include '../components/card/card.twig' %}
	</main>

	{% include '../components/footer/footer.twig' %}


{% endblock %}

{% block script %}

{% endblock %}
