<div class="recipes">
	<div class="recipes__card">
		<img src="img/abigle_poster.jpg" alt="">
		<div class="recipes__descr">
			<a class="recipes__descr-title">
				<span>Курица с помидорами и сыром в лаваше</span>
			</a>
			<div class="recipes__level">
				<span>простой</span>
			</div>
		</div>
	</div>
		<div class="recipes__card">
		<img src="img/abigle_poster.jpg" alt="">
		<div class="recipes__descr">
			<a class="recipes__descr-title" href="card.html">
				<span>Курица с помидорами и сыром в лаваше</span>
			</a>
			<div class="recipes__level">
				<span>простой</span>
			</div>
		</div>
	</div>
		<div class="recipes__card">
		<img src="img/abigle_poster.jpg" alt="">
		<div class="recipes__descr">
			<a class="recipes__descr-title">
				<span>Курица с помидорами и сыром в лаваше</span>
			</a>
			<div class="recipes__level">
				<span>простой</span>
			</div>
		</div>
	</div>
	{# 2d #}
	<div class="recipes__card">
		<img src="img/abigle_poster.jpg" alt="">
		<div class="recipes__descr">
			<a class="recipes__descr-title">
				<span>Курица с помидорами и сыром в лаваше</span>
			</a>
			<div class="recipes__level">
				<span>простой</span>
			</div>
		</div>
	</div>
		<div class="recipes__card">
		<img src="img/abigle_poster.jpg" alt="">
		<div class="recipes__descr">
			<a class="recipes__descr-title">
				<span>Курица с помидорами и сыром в лаваше</span>
			</a>
			<div class="recipes__level">
				<span>простой</span>
			</div>
		</div>
	</div>
		<div class="recipes__card">
		<img src="img/abigle_poster.jpg" alt="">
		<div class="recipes__descr">
			<a class="recipes__descr-title">
				<span>Курица с помидорами и сыром в лаваше</span>
			</a>
			<div class="recipes__level">
				<span>простой</span>
			</div>
		</div>
	</div>
</div>
<div class="show-more">
	<button class="show-more--btn">Показать ещё</button>
	{# favorites-icon #}
</div>