<header>
	<nav class="navbar container">
		<div class="navbar__logo">
			<img src="img/logo.svg" alt="comeAndEatme">
		</div>
		<ul class="navbar__menu">
			<li class="navbar__item">
				<a class="navbar__link active" href="#">Рецепты</a>
			</li>
			<li class="navbar__item">
				<a class="navbar__link" href="#">Магазин</a>
			</li>
			<li class="navbar__item">
				<a class="navbar__link" href="#">Авторы</a>
			</li>
		</ul>
		<button class="navbar__add">Добавить рецепт</button>
	</nav>
</header>