<footer class="container">
	<div class="footer">
		<span>Come&EatMe, 2020</span>
		<span>© Все права защищены. Использование материалов сайта только с письменного согласия авторов.</span>
	</div>
</footer>