<div class="search-recipe">
	<div class="search-recipe__counter">
		<p>Всего 12 000 рецептов</p>
	</div>
	<div class="search-recipe__input">
		<input class="search-recipe__input-body" type="text" placeholder="Поиск по  названию">
	</div>
</div>